@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-tertiary-50: #f1ebff;
  --color-tertiary-400: #915dff;
  --color-tertiary-500: #7534ff;
  --color-tertiary-800: #2f1566;
  --color-tertiary-900: #170a33;
  --color-customLila: #e6dbff;

  --color-orange: oklch(0.68 0.2 34.29);
  --color-lila: oklch(0.66 0.08 288.12);
  --color-darklila: oklch(0.32 0.14 287.43);
  --color-antrasit: oklch(0.31 0 0);
  --color-darkGray: oklch(0.39 0.01 0);
  --color-lightGreen: oklch(0.75 0.13 174.06);
  --color-lightYellow: oklch(0.86 0.14 85.17);
  --color-lightBlue: #b2eaee;
  --breakpoint-xxl: 90rem;

  --drop-shadow-custom-combined-1: 0px 0px 2px rgba(145, 158, 171, 0.24) -20px 20px
    40px -4px rgba(145, 158, 171, 0.24);
  --drop-shadow-custom-combined: 0px 2.59345px 2.59345px
    rgba(201, 201, 201, 0.25);
  --drop-shadow-custom-hamburger: 0px 0px 2px rgba(145, 158, 171, 0.24),
    -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
  --drop-shadow-custom-combined-2: 0px 20.5451px 41.0901px
      rgba(142, 155, 174, 0.2),
    inset 0px 4.10901px 10.2725px 1.02725px rgba(65, 69, 93, 0.1);

  --box-shadow-custom: 0px 4px 4px 0px rgba(201, 201, 201, 0.25);
  --box-shadow-header-shadow: 0px 12px 24px -4px #919eab29;
  --box-shadow-custom-combined: -20px 20px 40px -4px rgba(145, 158, 171, 0.24),
    0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  --box-shadow-custom-combined-2: -20px 20px 40px -4px rgba(145, 158, 171, 0.24),
    0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  --box-shadow-blog: 0px 12px 24px -4px rgba(145, 158, 171, 0.16);
  --box-shadow-sectionPackages: 0px 12px 24px -4px rgba(145, 158, 171, 0.16);
  --box-shadow-leadingBrands: -20px 20px 40px -4px #919eab3d,
    0px 0px 2px 0px #919eab3d;
  --box-shadow-concatForm: 0px 12px 24px -4px #919eab29;
  --box-shadow-supportCard: 0px 12px 24px -4px #919eab29;
  --box-shadow-signCard: 0px 12px 24px -4px #919eab29;
  --box-shadow-dashboardInvoices: 0px 12px 24px -4px #919eab1f,
    0px 0px 2px 0px #919eab33;
  --box-shadow-userCard: 0px 12px 24px -4px #919eab1f, 0px 0px 2px 0px #919eab33;
}

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}

:root {
  --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Slide Section animation */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.7s ease-out forwards;
}

@layer components {
  .parallax-element {
    @apply transition-transform duration-300 ease-out;
    will-change: transform;
  }
}
